<div class="card">
    <div class="card-header">
        <h5>{{'page-dashboard.EditProfile' | translate}}</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6">
                <div class="form-group">
                    <label for="profile-first-name">{{'page-checkout.FirstName' | translate}}</label>
                    <input type="text" class="form-control" id="profile-first-name" placeholder="{{'page-checkout.FirstName' | translate}}">
                </div>
                <div class="form-group">
                    <label for="profile-last-name">{{'page-checkout.LastName' | translate}}</label>
                    <input type="text" class="form-control" id="profile-last-name" placeholder="{{'page-checkout.LastName' | translate}}">
                </div>
                <div class="form-group">
                    <label for="profile-email">{{'page-checkout.Emailaddress' | translate}}</label>
                    <input type="email" class="form-control" id="profile-email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <label for="profile-phone">{{'page-checkout.Phone' | translate}}</label>
                    <input type="text" class="form-control" id="profile-phone" placeholder="Phone Number">
                </div>

                <div class="form-group mt-5 mb-0">
                    <button class="btn btn-primary">{{'page-edit-address.Save' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
