<div class="dashboard">
    <div class="dashboard__profile card profile-card">
        <div class="card-body profile-card__body">
            <div class="profile-card__avatar">
                <img src="./assets/images/avatars/avatar-3.jpg" alt="">
            </div>
            <div class="profile-card__name">Helena Garcia</div>
            <div class="profile-card__email">stroyka@example.com</div>
            <div class="profile-card__edit">
                <a routerLink="../profile" class="btn btn-secondary btn-sm">{{'page-dashboard.EditProfile' | translate}}</a>
            </div>
        </div>
    </div>
    <div class="dashboard__address card address-card address-card--featured">
        <div class="address-card__badge" *ngIf="address.default">{{'page-dashboard.DefaultAddress' | translate}}</div>
        <div class="address-card__body">
            <div class="address-card__name">{{ address.firstName + ' ' + address.lastName}}</div>
            <div class="address-card__row">
                {{ address.country }}<br>
                {{ address.postcode }}, {{ address.city }}<br>
                {{ address.address }}
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">{{'page-dashboard.PhoneNumber' | translate}}</div>
                <div class="address-card__row-content">{{ address.phone }}</div>
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">{{'page-dashboard.EmailAddress' | translate}}</div>
                <div class="address-card__row-content">{{ address.email }}</div>
            </div>
            <div class="address-card__footer">
                <a routerLink="/account/addresses/5">{{'page-dashboard.EditAddress' | translate}}</a>
            </div>
        </div>
    </div>
    <div class="dashboard__orders card">
        <div class="card-header">
            <h5>{{'page-dashboard.RecentOrders' | translate}}</h5>
        </div>
        <div class="card-divider"></div>
        <div class="card-table">
            <div class="table-responsive-sm">
                <table>
                    <thead>
                    <tr>
                        <th>{{'page-dashboard.Order' | translate}}</th>
                        <th>{{'page-dashboard.Date' | translate}}</th>
                        <th>{{'page-dashboard.Status' | translate}}</th>
                        <th>{{'page-dashboard.Total' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let order of orders">
                        <td><a href="">#{{ order.id }}</a></td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.total|currencyFormat }} for {{ order.quantity }} item(s)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
