<div class="widget-newsletter widget">
    <h4 class="widget-newsletter__title">{{'widget-comments.OurNewsletter' | translate}}</h4>
    <div class="widget-newsletter__text">
        {{'widget-comments.information' | translate}}
    </div>
    <form class="widget-newsletter__form" action="">
        <label for="widget-newsletter-email" class="sr-only">{{'widget-comments.EmailAddress' | translate}}</label>
        <input id="widget-newsletter-email" type="text" class="form-control" placeholder="{{'widget-comments.EmailAddress' | translate}}">

        <button type="submit" class="btn btn-primary mt-3">{{'widget-comments.Subscribe' | translate}}</button>
    </form>
</div>
