<app-page-header [header]="'Contact Us'" [breadcrumbs]="[
    {label: 'Home',       url: '../../'},
    {label: 'Contact Us', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="card mb-0 contact-us">
            <div class="contact-us__map">
                <iframe src='https://maps.google.com/maps?q=Holbrook-Palmer%20Park&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed'
                        frameborder='0' scrolling='no' marginheight='0' marginwidth='0'></iframe>
            </div>
            <div class="card-body">
                <div class="contact-us__container">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                            <h4 class="contact-us__header card-title">{{'page-contact-us-alt.OurAddress' | translate}}</h4>

                            <div class="contact-us__address">
                                <p>
                                    58 rue du Goulet 93300 Aubervilliers,France<br>
                                    {{'page-contact-us-alt.PhoneNumber' | translate}}: +33 (0)1 48 33 58 09<br>
                                    {{'page-contact-us-alt.Fax' | translate}}: +33 (0)1 48 33 72
                                </p>

                                <p>
                                    <strong>{{'page-contact-us-alt.OpeningHours' | translate}}</strong><br>
                                    {{'page-contact-us-alt.MondaytoFriday' | translate}}: 9am-18：30pm<br>
                                    {{'page-contact-us-alt.Saturday' | translate}}: 14am-18：30pm<br>
                                </p>

                                <p>

                                    <strong>{{'page-contact-us-alt.Comment' | translate}}</strong><br>
                                    {{'page-contact-us-alt.CommentMessage' | translate}}
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <h4 class="contact-us__header card-title">{{'page-contact-us-alt.LeaveusaMessage' | translate}}</h4>

                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="form-name">{{'page-contact-us-alt.YourName' | translate}}</label>
                                        <input type="text" id="form-name" class="form-control" placeholder="Your Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="form-email">{{'page-contact-us-alt.Email' | translate}}</label>
                                        <input type="email" id="form-email" class="form-control" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="form-subject">{{'page-contact-us-alt.Subject' | translate}}</label>
                                    <input type="text" id="form-subject" class="form-control" placeholder="Subject">
                                </div>
                                <div class="form-group">
                                    <label for="form-message">{{'page-contact-us-alt.Message' | translate}}</label>
                                    <textarea id="form-message" class="form-control" rows="4"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">{{'page-contact-us-alt.SendMessage' | translate}}</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
